.about-us-founder {
  background-image: url("https://farmnaturelle.com/cdn/shop/files/farm_try_2_1.png?v=1697615538");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 49px 0;
}
