.destop-navbar {
  display: none;
}

.desktop-menubar {
  position: relative;
}
.desktop-menubar-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.logo_menubar-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dekstop-menubar-links > ul {
  display: flex;
}

.dekstop-menubar-links > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  padding: 0 13px;
  border-right: 1px solid gray;
  cursor: pointer;
}

.dekstop-nav-links {
  position: absolute;
  top: 100%;
  left: 50px;
  flex-direction: column;
  border: none;
  padding: 10px 20px;
  width: 250px;
  background-color: #fff;
  z-index: 10;
}
.dekstop-nav-links li {
  transition: 0.2s linear;
  padding: 4px 0;
}
.dekstop-nav-links li:hover {
  color: #163db5;
}
.dekstop-menubar-links ul li:last-child {
  border: none;
}

.desktop-nav-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 22px;
}
.desktop-nav-icons > * {
  cursor: pointer;
  position: relative;
}

.dekstop-icon-badge {
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006944;
  color: #fff;
}
.show-nav-links {
  display: flex;
}
.hide-nav-links {
  display: none;
}

.searchbar-container {
  padding: 12px;
}
.searchbar-search-container {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.searchbar-container input {
  width: 95%;
  padding: 8px;
  outline: none;
  font-size: 14px;
  color: #484a47;
}

.searchbar-xmark {
  width: 25px;
  height: 25px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

/* ! Media Quaries  */

@media (min-width: 1280px) {
  .destop-navbar {
    display: block;
  }
}
