.amazon-review {
  background-image: url("https://farmnaturelle.com/cdn/shop/files/amazon_1.jpg?v=1696486290");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
