.shop-category {
  padding: 80px 0 120px;
  background-color: #f2f7e3;
}
.shop-category-container-content img {
  width: 142px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 18px;
}
.shop-category-container-content h2 {
  color: #006944;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 28px;
}

.shop-category-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .shop-category-item-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .shop-category-container-content h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .shop-category-item-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1280px) {
  .shop-category-item-container {
    grid-template-columns: repeat(8, 1fr);
  }
}
